

.tactical-screen .orientation-overlay-module .overlay-label-debug
{
	position: absolute;
	top: 100%;                 /* appears just below the overlay icon */
	left: 0;
	white-space: nowrap;

	/* Visibility & readability */
	/*
	background: rgba(255, 255, 0, 0.8);
	color: #000;
	font-size: 3rem;
	font-weight: bold;
	padding: 2px 4px;
	border: 1px solid red;
	border-radius: 3px;
	*/

	color: #fff; /* black text */
	font-size: 2.5rem;
	font-weight: 700;	/* bold text */
	font-family: Arial, Helvetica, sans-serif;
	text-shadow:
		-2px -2px 0 #000,
		 2px -2px 0 #000,
		-2px  2px 0 #000,
		 2px  2px 0 #000;
	padding: 0.1rem 0.3rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.3rem;

	pointer-events: none;	/* Make sure it doesn’t block clicks */
	z-index: 1000;			/* Keep on top of the overlay */
}

.tactical-screen .orientation-overlay-module .hitchance-overlay
{
	position: absolute;
	width: 10rem;
	height: auto;
	top: 0;
	left: 0;

	pointer-events: none;  /* Don’t block interaction */
	z-index: 2;            /* Above base overlays, below UI */
}

.tactical-screen .orientation-overlay-module .hitchance-overlay.is-enabled
{
	display: block;
}

.tactical-screen .orientation-overlay-module .hitchance-overlay.is-disabled
{
	display: none;
}
